@supports (display: grid) {
  h1, h2{
    font-family: 'Roboto', sans-serif;
  }
  /* title */

  /* Monitors */
  /* Inner Grid */

  .hello {
    grid-area: opt1;
    border: 2px solid red;
    padding:100px;
  }
  .names {
    grid-area: opt2;
    border: 2px solid red;
    padding:0px;
  }
  .causes {
    grid-area: opt3;
    border: 2px solid red;
    padding:0px;
  }
}
  @media screen and (min-width: 1400px) {
    .wrapper{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 5fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "opt1 opt2 opt3";
    }
  }

    /* Outer Grid mobile */

  /* Outer Grid computer */
  @media screen and (min-width: 1000px) {
    .wrapper {
      display: in-line grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "opt1 opt2"
        "opt3";
       overflow: visible;
    }

  }


  /* Outer Grid computer */
  @media screen and (min-width: 500px) {
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "opt1"
        "opt2"
        "opt3";
       overflow: visible;
    }
  }
